<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NetworkChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <NetworkChat.Properties.Settings>
            <setting name="CurrentPresence" serializeAs="String">
                <value>Online</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupOnNewMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundOnNewMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeakMessageIsFrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupOnNewFileArrival" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundOnNewFileArrival" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeakMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AwayStatusOnScreenSaver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AwayStatusIfInactiveForMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeakOnNewFileArrival" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransfersFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LargestFileSizeMB" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TaskFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PopupWhenUserComesOnline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundWhenUserComesOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeakNameWhenUserComesOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AcceptTransfers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetAwayStatusIfInactiveForMinutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysSpeakMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>575, 468</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Tahoma, 9pt</value>
            </setting>
            <setting name="DefaultFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="UseLocalTasksNotFtp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="BroadcastPort" serializeAs="String">
                <value>22222</value>
            </setting>
            <setting name="ChatPort" serializeAs="String">
                <value>2011</value>
            </setting>
            <setting name="FilePort" serializeAs="String">
                <value>2013</value>
            </setting>
            <setting name="BroadcastAddress" serializeAs="String">
                <value>255.255.255.255</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPHost" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value />
            </setting>
        </NetworkChat.Properties.Settings>
    </userSettings>
</configuration>
